/*.App {

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*/


body{
  background-color: #28a745;
}


  
  .card {
    background: #fff;
    transition: .2s;
    margin-bottom: 30px;
    border-radius: .55rem;
    position: relative;
    width: 100%;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 10%);
    
    
  }
  .chat-app .people-list {
    background: #fff;
    width: 360px;
    position: absolute;
    left: 10;
    top: 10;
    padding: 20px;
    z-index: 7;
  }
  
  .lastMessege{
    width: 280px;
    word-break: break-word;
  }
  
  
  .chat-app .chat {
    margin-left: 360px;
    border-left: 1px solid #eaeaea;
    background: #fff;
    
  }
  
  .people-list {
    -moz-transition: .5s;
    -o-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
    max-height: 600px;
    min-height: 600px;
    
  }
  
  .list2{
    overflow-y: scroll;
    max-height: 500px;
    min-height: 500px;
    
  }
  
  .people-list .chat-list li {
    padding: 10px 15px;
    list-style: none;
    border-radius: 100px;
    
    
  }
  
  .people-list .chat-list li:hover {
    background: #efefef;
    cursor: pointer
  }
  
  .people-list .chat-list li.active {
    background: #efefef
  }
  
  .people-list .chat-list li .name {
    font-size: 20px
  }
  
  .no-chat{
    color: #c91010;
  }
  
  .people-list .chat-list img {
    width: 45px;
    border-radius: 50%
  }

  .people-list .chat-list video {
    width: 200px; 
    height: 100px;
  }
  
  .people-list img {
    float: left;
    border-radius: 50%
  }
  
  .people-list .status {
    float: right;
    padding-right: 50px;
    color: #999;
    font-size: 13px;
  }
  
  .chat-header2 .btn{
    float: right;
  }
  
  .chat-header2{
    min-height: 60px;
    background: #fff;
    border-bottom: 2px solid #f4f7f6;
    font-size: 20px;
    text-align: center;
  }
  
  .chat .chat-header {
    padding: 15px 20px;
    border-bottom: 2px solid #f4f7f6;
    max-height: 70px;
    min-height: 70px;
    
  }
  
  .chat .chat-header img {
    float: left;
    border-radius: 50%;
    width: 45px;
  }
  
  .chat .chat-header .chat-about {
    float: left;
    padding-left: 10px
  }
  
  .chat .chat-history {
    padding: 20px;
    border-bottom: 2px solid #fff;
    overflow-y: scroll;
    max-height: 450px;
    min-height: 450px;
    display: flex;
    flex-direction: column-reverse;
  }
  
  .chat .chat-history ul {
    padding: 0
  }
  
  .chat .chat-history ul li {
    list-style: none;
    margin-bottom: 30px
  }
  
  .chat .chat-history ul li:last-child {
    margin-bottom: 0px
  }
  
  .chat .chat-history .message-data {
    margin-bottom: 15px;
    word-break: break-word;
  }
  
  .chat .chat-history .message-data img {
    border-radius: 40px;
    width: 40px
  }

  .chat .chat-history .my-message img {
    width: 100px
  }

  .chat .chat-history .my-message video {
    width: 200px; 
    height: 100px;
    
  }

  .chat .chat-history .other-message img {
    width: 100px
  }

  .chat .chat-history .other-message video {
    width: 200px; 
    height: 100px;
    
  }
  
  .chat .chat-history .message-data-time {
    color: #434651;
    padding-left: 6px
  }
  
  .chat .chat-history .message {
    color: #444;
    padding: 18px 20px;
    line-height: 26px;
    font-size: 16px;
    border-radius: 7px;
    display: inline-block;
    position: relative;
    word-break: break-word;

  }
  
  .chat .chat-history .message:after {
    bottom: 100%;
    left: 7%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-bottom-color: #fff;
    border-width: 10px;
    margin-left: -10px
  }
  
  .chat .chat-history .my-message {
    background: #efefef
  }
  
  .chat .chat-history .my-message:after {
    bottom: 100%;
    left: 30px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-bottom-color: #efefef;
    border-width: 10px;
    margin-left: -10px
  }
  
  .chat .chat-history .other-message {
    background: #e8f1f3;
    text-align: right
  }
  
  .chat .chat-history .other-message:after {
    border-bottom-color: #e8f1f3;
    left: 93%
  }
  
  .chat .chat-message {
    padding: 20px
  }
  
  .online,
  .offline,
  .me {
    margin-right: 10px;
    font-size: 8px;
    vertical-align: middle
  }
  
  .online {
    color: #86c541
  }
  
  .offline {
    color: #e47297
  }
  
  .me {
    color: #1d8ecd
  }
  
  .float-right {
    float: right
  }
  
  .clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
    
  }
  
  @media only screen and (max-width: 767px) {
    .chat-app .people-list {
        height: 465px;
        width: 100%;
        overflow-x: auto;
        background: #fff;
        left: -400px;
        display: none
    }
    .chat-app .people-list.open {
        left: 0
    }
    .chat-app .chat {
        margin: 0
    }
    .chat-app .chat .chat-header {
        border-radius: 0.55rem 0.55rem 0 0
    }
    .chat-app .chat-history {
        height: 300px;
        overflow-x: auto
    }
  }
  
  @media only screen and (min-width: 768px) and (max-width: 992px) {
    .chat-app .chat-list {
        height: 650px;
        overflow-x: auto
    }
    .chat-app .chat-history {
        height: 600px;
        overflow-x: auto
    }
  }
  
  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
    .chat-app .chat-list {
        height: 480px;
        overflow-x: auto
    }
    .chat-app .chat-history {
        height: calc(100vh - 350px);
        overflow-x: auto
    }
  }
  
  